# ==========================================================
# 🌐 LOBAL CONFIGURATION
# ==========================================================
PROJECT_NAME=mini-write
NODE_ENV=development
HTTP_PORT=80

# ==========================================================
# 🐘 DATABASE CONFIGURATION (PostgreSQL)
# ==========================================================
# Note: These values ​​must match what the API and container are expecting.
DB_HOST=database
DB_PORT=5432
DB_USER=nasseeb_admin
DB_PASSWORD=enter_your_passw
DB_NAME=miniwrite_db

# ==========================================================
# 🧠 CACHE & QUEUE CONFIGURATION (Redis)
# ==========================================================
REDIS_HOST=redis
REDIS_PORT=6379
# In a production environment, it is recommended to add a password to Redis.
REDIS_PASSWORD=enter_your_passw

# ==========================================================
# 📦 OBJECT STORAGE CONFIGURATION (MinIO)
# ==========================================================
# These are the credentials you will use to access the S3 API.
MINIO_ROOT_USER=enter_your_access_key
MINIO_ROOT_PASSWORD=enter_your_secret_key
MINIO_ENDPOINT=storage
MINIO_PORT=9000
MINIO_BUCKET_NAME=user-documents

# ==========================================================
# 🔐 SECURITY & AUTHENTICATION
# ==========================================================
# The secret of JWT encryption (never share it)
JWT_SECRET=enter_your_secret_for_JWT_encryption

# ==========================================================
# ⚙️ WORKER SETTINGS
# ==========================================================
# Number of attempts to redo the task in case of failure
WORKER_RETRY_LIMIT=3
QUEUE_NAME=document_processing
